:root{
  --color_background_primary: #eeeeee;
  --color_background_secondary: #ffffff;
  --color_background_inp: #e9e9e9;
  --color_blue_primary: #214ee4;
  --color_blue_primary-alpha: rgba(33, 78, 228, .5);
  --color_icons_btn: #3b3b3b;
  --color_text_inp: #959598;
  --color_text_inp_focus: #3b3b3b;
  --color_shadow_box: rgba(0, 0, 0, 0.16);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 62.4%;
  font-family: 'Fredoka One', cursive;
  background-color: var(--color_background_primary);
}

header{
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;
  height: 45px;
  background-color: var(--color_background_secondary);
}

header div a{
  font-size: 1.4rem;
  text-decoration: none;
  margin-left: 20px;
  line-height: 45px;
  color: var(--color_blue_primary);
}

header ul{
  display: flex;
  margin-right: 10px;
  justify-content: right;
  align-items: center;
  text-align: right;
  list-style-type: none;
}

header ul li{
  padding: 0 10px;
}

header ul li a i{
  font-size: 1.4rem;
  color: var(--color_icons_btn);
  transition: .2s;
}

header ul li a:hover i{
  transform: scale(1.1);
}

section{
  wdth: 100%;
  height: 600px;
  background-color: var(--color_background_primary);
}

section .form-login-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-color: var(--color_background_primary);
}

section .form-login-container .form-login{
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 400px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 5px var(--color_shadow_box);
}

section .form-login-container .form-login div{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  margin-top: 40px;
}

section .form-login-container .form-login img{
  width: 100px;
  height: 100px; 
}

section .form-login-container .form-login form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 40px;
}

section .form-login-container .form-login form input{
  width: 100%;
  height: 30px;
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 25px;
  text-align: center;
  background-color: var(--color_background_inp);
  color: var(--color_text_inp);
  transition: .3s;
}

section .form-login-container .form-login form input:focus{
  outline: unset;
  border: 1px solid var(--color_blue_primary-alpha);
  box-shadow: 1px 1px 2px var(--color_shadow_box); 
  color: var(--color_text_inp_focus);
  transform: scale(1.05);
}

section .form-login-container .form-login form button{
  width: 70%;
  height: 30px;
  padding: 0 5px;
  margin-top: 10px;
  border: none;
  border-radius: 25px;
  background-color: var(--color_blue_primary);
  color: var(--color_background_secondary);
  cursor: pointer;
  transition: .3s;
}

section .form-login-container .form-login form button:hover{
  transform: scale(1.1);
  box-shadow: 1px 1px 2px var(--color_shadow_box);
}

section .notify-container{
  display: none;
  width: 100%;
  height: 600px;
  background-color: red;
}

@media (min-width: 800px){
  section{
    display: grid;
    grid-template-columns: 55% 45%;
  }

  section .notify-container{
    display: block;
  }

  section .form-login-container .form-login{
    width: 60%;
  }

  section .form-login-container .form-login form input{
    width: 90%;
  }

  section .form-login-container .form-login form button{
    width: 50%;
  }
}
